/*  your css code here. If applicable */
  table {
      border-collapse: separate;  
      border-spacing: 10px;       
      width: 60%;
    }

    th, td {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 1.2rem;
    }

    th {
      font-weight: bold;
      font-size: 1.4rem;
      background-color: #fff;
    }

    tr:nth-child(odd) td {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) td {
      background-color: #ffffff;
    }
